body {
  background-color: rgba(245, 180, 216);
}
li {
  cursor: pointer;
}
.note {
  font-size: 18px;
  font-style: "italic";
  color: rgb(138, 5, 93);
  cursor: pointer;
}
.completed-note {
  text-decoration: line-through;
}
.qqq {
  background-color: #f2d4f3;
  border-radius: 10px;
  overflow: hidden;
}
