body {
  background-color: rgba(245, 180, 216);
}
li {
  cursor: pointer;
}
.note {
  font-style: "italic";
  color: rgb(29, 4, 56);
  cursor: pointer;
}
.completed-note {
  text-decoration: line-through;
}
.qqq {
  background-color: #dddddd;
  overflow: hidden;
}
